<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headerlinks}}
    
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div in left -->
                    <div class="col-md-6 col-12 main-header-right align-items-center">
                        <figure>
                            <img src="images/about_me.png" alt="about-image" class="img-fluid" title="Disha">
                        </figure>
                    </div>
                    <!-- left side div in right -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_color">MERN Stack Developer ,Python Developer</span>  and a Student</h1>
                        <a href="https://disha08-ops.github.io/Portfolio/" target="_blank"><button>About Me</button></a>
                    </div>
            
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
</html>